body {
}

.bodyContent {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image-slice: 29% 5% 33% 2%;
  border-image-width: 1.5em 1.5em 1.5em 1.5em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-style: solid;
  border-image-source: url("./imgs/grass.jpg");
}

.rpsTitle {
  font-size: 50px;
  font-weight: bolder;
  font-style: oblique;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.rockPic,
.paperPic,
.scissorsPic {
  width: 150px;
  height: 150px;
}

.btnPaper {
  margin-top: 65px;
  margin-bottom: 65px;
}

.disableClick {
  pointer-events: none;
}

.clearButtonDisplay {
  display: none;
}

.clearButton {
  margin-bottom: 40px;
  margin-top: -140px;
  width: 100px;
  height: 100px;
}

.refreshButton {
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
}

.resultDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 600px;
  border: black solid;
}

.picContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
}

.previewPicDivLeft,
.previewPicDivRight {
  border: black solid;
  width: 100px;
  height: 100px;
}

.previewPicLeft,
.previewPicRight {
  width: 100px;
  height: 100px;
}
.resultInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid black;
  width: 800px;
  height: 100px;
}

.winnerText {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: -270px;
}

.scoreDiv {
  width: 250px;
  height: 600px;
  border: black solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cpuDiv,
.playerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: black solid;
}
